@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

section {
  margin-bottom: 10px;
  margin-top: 10px;
}

.form {
  width: 280px;
  font-weight: 300;
}
.delay-label {
  display: block;
  margin-bottom: 10px;
}
.delay-label input {
  width: 100%;
  height: 30px;
}
.form fieldset {
  margin-bottom: 10px;
}

.form button {
  width: 100%;
}